### Ejercicio 1:
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [7]:
m=str(input("introduce tu matricula:"))
n=str(input("introduce tu nombre: "))
print("Tu matricula y nombre son:", m+n )

introduce tu matricula:1726724
introduce tu nombre: Areli Tolentino
Tu matricula y nombre son: 1726724 Areli Tolentino

### Ejercicio 2:
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [19]:
a=float(input("introduce un numero: "))
b=float(input("introduce un numero: "))
suma=a+b
rest=a-b
multi=a*b
div=a/b
exp=a**b

print ("La suma es: ",suma,  "\nLa resta es:", rest,"\nLa multiplicacion es:", multi,"\nLa division es:", div,"\nEl exponente es:", exp)

introduce un numero: 5
introduce un numero: 3
La suma es:  8.0
La resta es: 2.0
La multiplicacion es: 15.0
La division es: 1.6666666666666667
El exponente es: 125.0

### Ejercicio 3:
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [27]:
lista=list(range(1,31))
listan=[]
for i in lista:
    if i%3==0:
        listan.append(i)
suma=sum(listan)

print("La lista de 10 numeros multiplos de 3 es:",listan,"\n Su suma es:",suma)

La lista de 10 numeros multiplos de 3 es: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
 Su suma es: 165

### Ejercicio 4:
- Con una función de if else, revisar si un número es par o es impar.

In [33]:
x=float(input("introduce un numero: "))
h=x%2
if h==0:
    print("Tu numero introducido es par.")
else:
    print("Tu numero introducido es impar.")

introduce un numero: 678276753
Tu numero introducido es impar.

- Con una función de if else, revisar si un número es primo o no.

In [67]:
def esprimo(num):
    if num < 1:
        return False
    elif num == 2:
        return True
    else:
        for i in range(2, num):
            if num % i == 0:
                return False
        return True            

def app():
    num = int(input("introduce un numero: "))
    resultado = esprimo(num)
    if resultado==True:
        print("Tu numero es primo.")
    else:
        print("Tu numero no es primo.")
app()

introduce un numero: 9762
Tu numero no es primo.

### Ejercicio 5:
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [20]:
def suma(a,b):
    print("La suma es: ", a+b)
def res(a,b):
    print("La resta es: ",a-b)
def mul(a,b):
    print("La multiplicacion es: ", a*b)
def div(a,b):
    print("La division es: ", a/b)
def ex(a,b):
    print("El exponencial es: ", a**b)
def dato():
    c=int(input("Escoger la opcion deseada: \n1-Sumar los numeros \n2-Restar los numeros \n3-Multiplicar los numeros \n4-Dividir los numeros \n5-Elevar los numeros \n"))
    if c==1:
        a=int(input("ingresa un numero:"))
        b=int(input("ingresa un numero:"))
        suma(a,b)
    elif c==2:
        a=int(input("ingresa un numero:"))
        b=int(input("ingresa un numero:"))
        res(a,b)
    elif c==3:
        a=int(input("ingresa un numero:"))
        b=int(input("ingresa un numero:"))
        mul(a,b)
    elif c==4:
        a=int(input("ingresa un numero:"))
        b=int(input("ingresa un numero:"))
        div(a,b)
    elif c==5:
        a=int(input("ingresa un numero:"))
        b=int(input("ingresa un numero:"))
        ex(a,b)
    else:
        print("Opcion no encontrada.Favor de escoger otra.")
        dato()
        
    
dato()

Escoger la opcion deseada:
1-Sumar los numeros
2-Restar los numeros
3-Multiplicar los numeros
4-Dividir los numeros
5-Elevar los numeros
4
ingresa un numero:900
ingresa un numero:5
La division es:  180.0

### Ejercicios con estructuras básicas de python.
#### Tuplas
- Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [30]:
f=5.765428
i=230
b=True
c=0.8765j
print("La variable f es clase tipo: ",type(f))
print("La variable i es clase tipo: ",type(i))
print("La variable b es clase tipo: ",type(b))
print("La variable c es clase tipo: ",type(c))

La variable f es clase tipo:  <class 'float'>
La variable i es clase tipo:  <class 'int'>
La variable b es clase tipo:  <class 'bool'>
La variable c es clase tipo:  <class 'complex'>

- Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [36]:
tupla=(21,4,7,0,6,4,2,4,75,4,2)
print("El primer numero de la tupla es: ", tupla[0])
print("El ultimo numero de la tupla es: ", tupla[-1])

El primer numero de la tupla es:  21
El ultimo numero de la tupla es:  2

- Añadir 3 valores de string a la tupla.

In [ ]:
# las tuplas no se modifican

- Verificar si una variable existe dentro de la tupla.

In [20]:
tup=('a','e','i','o','u')
a=str(input("Ingrese un dato a buscar:"))
if ((a in tup)==True):
    print("su dato fue encontrado en la tupla")
else:
    print("su dato no fue encontrado en la tupla")

Ingrese un dato a buscar:b
su dato no fue encontrado en la tupla

#### Listas
- Crear una lista con 40 elementos aleatorios enteros.

In [44]:
import random
listAle=[random.randint(0,1234) for i in range(40)]
print("Los 40 elementos son:",listAle)

Los 40 elementos son: [488, 917, 175, 526, 85, 884, 339, 1082, 634, 656, 54, 424, 408, 397, 475, 1161, 160, 492, 1152, 891, 735, 1162, 20, 874, 1185, 508, 213, 1184, 419, 310, 363, 877, 335, 673, 1036, 496, 422, 745, 1074, 428]

- Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [50]:
listAle=[488, 917, 175, 526, 85, 884, 339, 1082, 634, 656, 54, 424, 408, 397, 475, 1161, 160, 492, 1152, 891, 735, 1162, 20, 874, 1185, 508, 213, 1184, 419, 310, 363, 877, 335, 673, 1036, 496, 422, 745, 1074, 428]
listpar=[]
listimp=[]
def listas():
    for i in range(40):
        h=listAle[i]%2
        if h==0:
            listpar.append(listAle[i])
        else:
            listimp.append(listAle[i])
    print("La lista de numeros pares aleatorios es:",listpar)
    print("La lista de numeros impares aleatorios es:",listimp)
listas()

La lista de numeros pares aleatorios es: [488, 526, 884, 1082, 634, 656, 54, 424, 408, 160, 492, 1152, 1162, 20, 874, 508, 1184, 310, 1036, 496, 422, 1074, 428]
La lista de numeros impares aleatorios es: [917, 175, 85, 339, 397, 475, 1161, 891, 735, 1185, 213, 419, 363, 877, 335, 673, 745]

- Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [51]:
listAle=[488, 917, 175, 526, 85, 884, 339, 1082, 634, 656, 54, 424, 408, 397, 475, 1161, 160, 492, 1152, 891, 735, 1162, 20, 874, 1185, 508, 213, 1184, 419, 310, 363, 877, 335, 673, 1036, 496, 422, 745, 1074, 428]
listpar=[]
listimp=[]
def listas():
    for i in range(40):
        h=listAle[i]%2
        if h==0:
            listpar.append(listAle[i])
        else:
            listimp.append(listAle[i])
    print("La longitud de la lista de numeros pares aleatorios es:", len(listpar))
    print("La longitud de la lista de numeros impares aleatorios es:", len(listimp))
listas()

La longitud de la lista de numeros pares aleatorios es: 23
La longitud de la lista de numeros impares aleatorios es: 17

- Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [52]:
listpar=[488, 526, 884, 1082, 634, 656, 54, 424, 408, 160, 492, 1152, 1162, 20, 874, 508, 1184, 310, 1036, 496, 422, 1074, 428]
listimp=[917, 175, 85, 339, 397, 475, 1161, 891, 735, 1185, 213, 419, 363, 877, 335, 673, 745]
listpar.sort(reverse=True)
listimp.sort()
print("Lista par ascendente: ", listpar,"\nLista impar descendente: ",listimp)

Lista par ascendente:  [1184, 1162, 1152, 1082, 1074, 1036, 884, 874, 656, 634, 526, 508, 496, 492, 488, 428, 424, 422, 408, 310, 160, 54, 20]
Lista impar descendente:  [85, 175, 213, 335, 339, 363, 397, 419, 475, 673, 735, 745, 877, 891, 917, 1161, 1185]

- Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [73]:
listAle=[488, 917, 175, 526, 85, 884, 339, 1082, 634, 656, 54, 424, 408, 397, 475, 1161, 160, 492, 1152, 891, 735, 1162, 20, 874, 1185, 508, 213, 1184, 419, 310, 363, 877, 335, 673, 1036, 496, 422, 745, 1074, 428]
listAle.insert(2,424)
b=listAle.count(424)
print("Cantidad de datos en lista :",len(listAle),"\nNumero mayor de los datos:",max(listAle),"\nNumero menor de los datos:",min(listAle), "\nSuma de los datos de la lista: ",sum(listAle))
print("Numero de veces que aparece el 424 en la lista: ",b)

Cantidad de datos en lista : 41
Numero mayor de los datos: 1185
Numero menor de los datos: 20
Suma de los datos de la lista:  24883
Numero de veces que aparece el 424 en la lista:  2

#### Diccionarios
- Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [74]:
dic={'Nadia':'21','Nathanael':'22','Juan':'22','Arlette':'22','Leslie':'21','Abraham':'19'}

{'Nadia': '21', 'Nathanael': '22', 'Juan': '22', 'Arlette': '22', 'Leslie': '21', 'Abraham': '19'}

- Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [83]:
diccionario={'Nadia':21,'Nathanael':24,'Juan':26,'Arlette':20,'Leslie':21,'Abraham':19}
edad=[]
for i in diccionario:
    if type(diccionario[i]) == type(98):
        edad.append(diccionario[i])
edad.sort()
print("Las edades son:",edad)

Las edades son: [19, 20, 21, 21, 24, 26]

- Usando el diccionario y un loop, imprimir solo los nombres

In [108]:
diccionario={'Nadia':21,'Nathanael':24,'Juan':26,'Arlette':20,'Leslie':21,'Abraham':19}
a=diccionario.keys()
print(a)

dict_keys(['Nadia', 'Nathanael', 'Juan', 'Arlette', 'Leslie', 'Abraham'])

- Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [2]:
diccionario={'Nadia':21,'Nathanael':24,'Juan':26,'Arlette':20,'Leslie':21,'Abraham':19}
diccionario['Magaly']=25
diccionario['Hector']=29
print(diccionario)

{'Nadia': 21, 'Nathanael': 24, 'Juan': 26, 'Arlette': 20, 'Leslie': 21, 'Abraham': 19, 'Magaly': 25, 'Hector': 29}

### Sets
- Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [92]:
import random as r
p=set()
for i in range(50):
    s=r.randint(1,25)
    p.add(s)
print("Los sets no tienen valores duplicados:",p)

Los sets no tienen valores duplicados: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

- Comprueba la longitud de tu set.

In [3]:
import random as r
p=set()
for i in range(100):
    s=r.randint(1,25)
    p.add(s)
print("Los sets no tienen valores duplicados:",p)
print("Por eso su longitud es:",len(p))

Los sets no tienen valores duplicados: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}
Por eso su longitud es: 25

- Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [11]:
lista = []

for i in range(5):
    lista.append(r.randint(1,10))
    if lista[i] in p:
        print("El numero", lista[i],"aparece en el set.")
    else:
        print("El numero", lista[i],"No aparece en el set.")

El numero 6 aparece en el set.
El numero 7 aparece en el set.
El numero 2 aparece en el set.
El numero 7 aparece en el set.
El numero 9 aparece en el set.